<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a routerLink="/" class="active">Hello</a></li>
				<li><a routerLink="/about">About us</a></li>
				<li><a routerLink="/works">Events</a></li>
				<li><a routerLink="/contact">Get in touch</a></li>
				<li><a routerLink="/dashboard">Dashboard</a></li>
			</ul>
		</div>
	</div>
</nav>