<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Catering</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-8">
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Catering</th>
									<th>description</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td><input type="text" name="package" [(ngModel)]="formItem.package" required /></td>
									<td><input type="text" name="description" [(ngModel)]="formItem.description" required /></td>
									<td><button class="btn btn-success" type="submit" (click)="addThis()">Save</button></td>
									<td><button class="btn btn-danger" type='reset' (click)="clearThis()">Reset</button></td>
								</tr>
								<tr *ngFor="let catering of dataList; let i = index">
									<td>{{ i+1 }}</td>
									<td>{{catering.package}}</td>
									<td>{{catering.description}}</td>
									<td><button class="btn btn-primary active" ng-hide="true" ng-disabled="isEditingMode" (click)="updateThis(catering)">Edit</button></td>
									<td><button class="btn btn-danger active" ng-disabled="isEditingMode" (click)="deleteThis(catering._id)">Delete</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.col-lg-4 (nested) -->
				<div class="col-lg-8">
					<div id="morris-bar-chart"></div>
				</div>
				<!-- /.col-lg-8 (nested) -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.panel-body -->
	</div>
</div>
<!-- /#page-wrapper -->